.wp-block-separator {
	border-bottom: 0;
	background: transparent;

	&.has-background {
		border: 0;
	}

	&:not(.is-style-wide):not(.is-style-dots) {

	}

	&.is-style-wide {

	}

	&.is-style-dots {

		&:before {

		}
	}
}
