.wp-block-calendar {

    table {
        &:where(:not(.has-text-color)) {
            color: $themeColor1;
        }

        &:not(.has-background) {
            th, td {
                background-color: $themeColor1;
                color: $themeColor6;
                border-color: $themeColor3;
            }
        }
    }

    th,
    tbody td {
        border-width: 0 0 1px 0;
    }

    tfoot td {

    }

    table th {

    }

    a {

    }

    tfoot a {

    }

    table tbody,
    table caption {

    }
}