.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comments-area {
    max-width: 920px;
    margin: 0 auto;

    .comments-title {
        margin-bottom: 40px;
    }

    .no-comments {
        padding: 30px;
        margin-top: 20px;
        background: $themeColor4;
        color: $themeColor6;
    }

    .comment-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    ol.children {
        padding-left: 5%;
        margin-top: 30px;
        list-style: none;

        @include respond-to(smmax) {
            margin-left: 0;
        }

        @include respond-to(md) {
            padding-left: 12%;
        }
    }

    .comment-body {
        position: relative;
        padding: 25px;
        background-color: #fff;

        + .comment-respond {
            margin-top: 30px;
            @include respond-to(md) {
                margin-top: 60px;
            }
        }
    }

    .comment-meta {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 66px;
        margin-bottom: 15px;

        @include respond-to(md) {
            padding-left: 90px;
        }

        .says {
            display: none;
        }
    }

    .comment-metadata {
        font-size: 15px;

        a {
            color: $themeColor4;
        }

        .edit-link {
            display: inline;
            margin-left: 15px;
        }
    }

    .comment-author {
        margin-bottom: 6px;

        .avatar {
            display: block;
            margin-bottom: 15px;
            border-radius: 50%;

            @include respond-to(md) {
                position: absolute;
                top: 0;
                left: 0;
                margin-bottom: 0;
            }
        }

        .fn {
            font-weight: 500;
            color: $themeColor1;

            a {
                color: inherit;

                &:focus,
                &:hover {
                    color: $themeColor2;
                    text-decoration: none;
                }
            }
        }
    }

    .reply {
        position: relative;
        margin-top: 20px;

        @include respond-to(md) {
            position: absolute;
            top: 30px;
            right: 28px;
            margin-top: 0;
        }
    }

    .comment-form {
        display: flex;
        flex-wrap: wrap;
        padding: 30px;
        column-gap: 30px;
        color: #fff;
        background-color: $themeColor1;
    }

    .comment-form-email,
    .comment-form-author {
        width: 100%;
        @include respond-to(md) {
            width: calc((100% - 30px) / 2);
        }
    }

    .comment-form-comment,
    .comment-form-cookies-consent {
        width: 100%;
    }

    .comment-respond {
        margin-top: 100px;
    }

    .form-submit {
        margin-bottom: 0;
        // @extend .button-creative;

        &:hover {

            input[type="submit"] {
                background-color: $themeColor4;
            }
        }
    }

    .comment-reply-title {
        small {
            margin-left: 15px;
        }
    }
}
