h1,
h2,
h3,
h4,
h5,
h6 {
	color: $themeColor1;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}


	a {
		color: currentColor;

		&:focus,
		&:hover {
			color: $themeColor2;
			text-decoration: none;
		}
	}
}

h1 {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.25;

	@include respond-to(md) {
		font-size: 75px;
		line-height: 1.15;
	}
}

h2 {
	font-size: 32px;
	font-weight: 500;
	line-height: 1.25;

	@include respond-to(md) {
		font-size: 45px;
	}
}

h3 {
	font-size: 24px;
	font-weight: 500;
	line-height: 1.35;

	@include respond-to(md) {
		font-size: 33px;
		line-height: 1.25;
	}
}

h4 {
	font-size: 22px;
	font-weight: 500;
	line-height: 1.35;
}

h5 {
	font-size: 18px;
	font-weight: 400;
}

h6 {
	font-size: 15px;
	font-weight: 400;
}
