ul,
ol {
	padding: 0 0 0 1em;
}

li {
	margin-bottom: 1em;

	&:last-child {
		margin-bottom: 0;
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-top: 1em;
	margin-bottom: 0;
	margin-left: 1em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}
