$color__background-body: #f0f0f0;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-pre: #fff;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-main: #404040;

$themeColor1: #252525;
$themeColor2: #E64A26;
$themeColor3: #434343;
$themeColor4: #8F908A;
$themeColor5: #BEC0B9;
$themeColor6: #F0F0F0;
